*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Signika", Arial, Helvetica, sans-serif;
  min-width: 960px;
  margin: 0 auto;
}

.logo {
  height: 90px;
  margin-left: 35px;
}

header nav {
  background: #757575;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-elements {
  display: flex;
  list-style: none;
  width: 80%;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.nav-item p {
  font-weight: 300;
}

p.nav-item-header {
  font-weight: 700;
  font-size: 1.75rem;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item .fa {
  transform: rotate(-15deg);
}

.nav-item .fa:hover {
  transform: rotate(0);
}

.topics {
  display: flex;
  justify-content: space-around;
  flex-basis: 120px;
  color: white;
  background: transparent;
  border: solid 2px white;
  border-radius: 5px;
  padding: 15px;
  margin-right: 35px;
  cursor: pointer;
}

.latest-articles {
  display: grid;
  height: 1200px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.teaser {
  position: absolute;
  left: calc(50% - 165.2165px);
  width: 332px;
  height: 140px;
  margin-top: 50px;
  margin-bottom: 0;
  font-size: calc(26px + (30 - 26) * (100vw - 350px)/ (1300 - 350));
  line-height: 1.5em;
  text-align: center;
  white-space: pre-line;
  background-color: white;
}

.footer-link a {
  text-decoration: none;
  color: black;
}

.main-articles-left {
  background-color: #979797;
  padding: 50px;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-topics a {
  text-decoration: none;
  color: black;
}

.load-more a {
  text-decoration: none;
  color: black;
  border-bottom: solid 5px #979797;
}

.main-articles-left footer a {
  text-decoration: none;
  color: black;
}

.main-articles footer a {
  text-decoration: none;
  color: black;
}

.photo-box {
  background: #eee;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  justify-self: center;
  transform: rotate(-10deg);
}

.main-articles {
  background-color: #a0a0a0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  padding-top: 200px;
}

.main-articles-title {
  cursor: pointer;
  color: white;
}

.writer-articles {
  display: flex;
  width: 45%;
  justify-content: space-between;
  color: white;
}

.main-footer p a {
  text-decoration: none;
  color: black;
}

.main-articles-left a:hover {
  cursor: pointer;
}

.main-articles a:hover {
  cursor: pointer;
}

.teaser-author {
  align-self: center;
  cursor: pointer;
}

.teaser-author a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
}

.author a {
  text-decoration: none;
  color: black;
}

.lastest-posts {
  display: inline-block;
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
}

.membership {
  display: flex;
  background: #b8b8b8;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}

.membership * {
  margin-left: 50px;
  width: 60%;
}

.membership button {
  border: none;
  border-radius: 50px;
  flex-basis: 60px;
  width: 20%;
  min-width: 120px;
}

.membership ul {
  padding: 0;
}

.membership li {
  margin-left: 0;
}

.lastest-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.post {
  padding: 50px;
}

.flat-file {
  background: #a8a8a8;
  border-radius: 50px;
  height: 80%;
  width: 80%;
  align-self: center;
  justify-self: center;
}

.red-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  grid-column: 1 / span 2;
  background: #a8a8a8;
  border-radius: 50px;
  margin: 50px;
}

.red-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  grid-column: 3 / span 2;
  background: #a8a8a8;
  border-radius: 50px;
  margin: 50px;
}

.red-box1 button {
  border: none;
  border-radius: 50px;
  flex-basis: 60px;
  width: 20%;
  min-width: 120px;
}

.red-box2 button {
  border: none;
  border-radius: 50px;
  flex-basis: 60px;
  width: 20%;
  min-width: 120px;
}

.coming-up-next {
  display: flex;
  background: #b8b8b8;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  text-align: center;
}

.coming-up-next button {
  border: none;
  border-radius: 50px;
  flex-basis: 60px;
  width: 20%;
  min-width: 120px;
  align-self: center;
}

.coming-up-next a {
  text-decoration: none;
  color: black;
}

.marcos {
  display: block;
  height: 350px;
  padding: 35px;
  padding-bottom: 0;
}

.marcos p {
  margin-left: 55px;
}

.marcos p a {
  text-decoration: none;
  color: black;
}

.person-img {
  background-color: #e5e5e5;
  float: left;
  border-radius: 15px;
  height: 40%;
  width: 10%;
  padding: 10px;
  transform: rotate(-10deg);
  margin-left: 20px;
}

.community-links h4 {
  margin-left: 20px;
}

.community2 {
  display: grid;
  padding: 35px;
  padding-top: 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
}

.highlights {
  padding: 15px;
  display: grid;
  grid-template-columns: 20% 1fr;
}

.highlights a {
  text-decoration: none;
  color: black;
}

.community2 footer {
  grid-column: 1 / span 2;
  justify-self: center;
}

.community2 footer a {
  text-decoration: none;
  color: black;
}

.highlights .photo-box {
  background: #eee;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  justify-self: center;
  transform: rotate(-10deg);
}

.smashing-book {
  display: flex;
  height: 350px;
  background: #b8b8b8;
}

.smashing-book a {
  text-decoration: none;
  color: black;
}

.book-article {
  padding: 45px;
  display: flex;
  flex-direction: column;
}

.book-article button {
  width: 30%;
  height: 60px;
  border: none;
  border-radius: 15px;
  background: #cfcfcf;
}

.book-box {
  background: #757575;
  border-radius: 10px;
  width: 200px;
  margin: 20px;
  margin-right: 60px;
  height: 250px;
  position: relative;
  top: -50px;
  transform: rotate(-15deg);
}

.curated-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 1fr;
  width: 80%;
  margin: auto;
  padding: 5%;
}

.curated-posts a {
  grid-column: 1 / span 4;
}

.guides {
  margin: 0;
  padding: 4%;
  border: 0;
  padding-top: 30px;
}

.guides a {
  text-decoration: none;
  color: black;
}

.big-red-box {
  display: flex;
  padding: 45px;
  width: auto;
  flex-direction: column;
  background-color: #979797;
  text-align: center;
}

.big-red-box button {
  width: 30%;
  height: 60px;
  border: none;
  border-radius: 15px;
  background: #cfcfcf;
  align-self: center;
}

.load-more {
  text-align: center;
  padding: 150px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #979797;
  padding: 50px;
}

<<<<<<< head .footer-topics a:hover {
  ======= .footer-topics a {
    text-decoration: none;
    color: black;
  }

  .footer-topics a:hover {
    >>>>>>> 688d2a4fc92790e8263d259e7debc5be7936bfad
  text-decoration: underline;688d2a4fc92790e8263d259e7debc5be7936bfadtext-decoration688d2a4fc92790e8263d259e7debc5be7936bfadtext-decoration688d2a4fc92790e8263d259e7debc5be7936bfadtext-decoration688d2a4fc92790e8263d259e7debc5be7936bfadtext-decoration688d2a4fc92790e8263d259e7debc5be7936bfadtext-decoration688d2a4fc92790e8263d259e7debc5be7936bfadtext-decoration688d2a4fc92790e8263d259e7debc5be7936bfadtext-decoration688d2a4fc92790e8263d259e7debc5be7936bfadtext-decoration688d2a4fc92790e8263d259e7debc5be7936bfadtext-decoration688d2a4fc92790e8263d259e7debc5be7936bfadtext-decoration
  }

  .main-footer p {
    margin: 0;
  }

  .topics-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
  }

  .topics-list li {
    margin-right: 25px;
  }

  .footer-link-list {
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-link-list li {
    padding: 5px;
    margin-right: 25px;
  }

  .footer-link a:hover {
    text-decoration: underline;
  }
}
