body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  min-width: 960px;
  margin: 0 auto;
}

.logo {
  height: 90px;
  margin-left: 35px;
}

header nav {
  background: #757575;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-elements {
  display: flex;
  list-style: none;
  width: 80%;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item .fa {
  transform: rotate(-15deg);
}

.nav-item .fa:hover {
  transform: rotate(0);
}

.topics {
  display: flex;
  justify-content: space-around;
  flex-basis: 120px;
  color: white;
  background: transparent;
  border: solid 2px white;
  border-radius: 5px;
  padding: 15px;
  margin-right: 35px;
  cursor: pointer;
}

.latest-articles {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas:

}

.teaser {
  position: absolute;
  left: calc(50% - 165.2165px);
  width: 332px;
  height: 140px;
  margin-top: 50px;
  margin-bottom: 0;
  font-size: calc(26px + (30 - 26) * (100vw - 350px)/ (1300 - 350));
  line-height: 1.5em;
  text-align: center;
  white-space: pre-line;
  background-color: white;

}

.main-articles-left {
  background-color: #979797;
  padding-top: 300px;
  display: grid;
  float: left;
}

.main-articles {
  background-color: #e5e5e5;
  display: grid;
  padding-top: 300px;
}

.main-articles-title {
  cursor: pointer;
}

.writer-articles a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.lastest-posts {
  display: inline-block;
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  float: left;
  grid-template-columns: 1fr 1fr;
}

.post {
  
}
